{% extends "main_app/base.html" %}
{% load static %}
{% block title %}Profile Page{% endblock title %}
{% block content %}
    <div class="row my-3 p-3">
        <h1>This is the profile page for {{user.username}}</h1>
    </div>
    
    <div class="form-content">
        <form method="post" class="post-form" enctype="multipart/form-data">
            {% csrf_token %}
            {{ user_form.as_p }}
            {{ profile_form.as_p }}
            <button type="submit" class="save btn btn-secondary">Save</button>

        </form>
    </div>
{% endblock content %}